<div class="container">
  <h1>My favorite tweets</h1>
  <% @tweets.each do |tweet| %>
    <div class="tweet">
      <p class="text-bold"><%= tweet.username %></p>
      <p><%= tweet.content %></p>
    </div>
  <% end %>
</div>
